api:
  dashboard: true
  insecure: false

entryPoints:
  web:
    address: "{{ traefik_entrypoint_web_address }}"
{% if traefik_enable_http_to_https_redirect | bool %}
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
{% endif %}
  websecure:
    address: "{{ traefik_entrypoint_websecure_address }}"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: "{{ traefik_network_name }}"
    watch: true
  file:
    directory: /etc/traefik/dynamic
    watch: true

serversTransport:
  forwardingTimeouts:
    dialTimeout: 30s
    responseHeaderTimeout: 0s
    idleConnTimeout: 0s

log:
  level: "{{ traefik_log_level }}"
{% if traefik_enable_access_log | bool %}
accessLog: {}
{% endif %}
