# Path to your oh-my-zsh installation.
export ZSH="{{ oh_my_zsh_install_dir }}"

# Set name of theme to load
ZSH_THEME="{{ oh_my_zsh_theme_name }}"

# Enable Oh My Zsh plugins
plugins=({{ oh_my_zsh_plugins | join(' ') }})

# Load Oh My Zsh
source "$ZSH/oh-my-zsh.sh"

{% if oh_my_zsh_install_z | bool %}
# Load z directory jumper
source ~/z.sh
{% endif %}

# Configure PATH
export PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games"

# History and shell options
HISTFILE=~/.histfile
HISTSIZE=1000
SAVEHIST=1000
setopt appendhistory autocd extendedglob
bindkey -e
